*
!.gitignore

## jj for config files
!bin/
!bin/jjc

# Niri
!.config/
!.config/niri
!.config/niri/config.kdl
!.config/niri/focus_window.py
!.config/niri/ws_management.py
!.config/niri/ns.py
!.config/niri/ws_icons.py
!.config/niri/run_and_consume.py
!.config/niri/niri_ipc.py
!.config/niri/swap_monitors.py
!.config/niri/column_widths.py

# wpaperd
!.config/wpaperd/
!.config/wpaperd/config.toml

# i3
!.config/i3
!.config/i3/cursor2wcenter.sh
!.config/i3/wsBackAndForth.py
!.config/i3/master.py
!.config/i3/alttab.py


# sway
!.config/sway
!.config/sway/wsManagement.sh
!.config/sway/goto_windowN.py

# scroll
!.config/scroll
!.config/scroll/config
!.config/scroll/scripts
!.config/scroll/scripts/auto_fit.lua

# Machine-dependent files below this line
