*
!.gitignore

## jj fo config files
!bin/
!bin/jjc

# Niri
!.config/
!.config/niri
!.config/niri/config.kdl
!.config/niri/focus_window.py
!.config/niri/ws_management.py
!.config/niri/ns.py
!.config/niri/ws_icons.py
!.config/niri/run_and_consume.py
!.config/niri/niri_ipc.py
!.config/niri/swap_monitors.py
!.config/niri/column_widths.py

# wpaperd
!.config/wpaperd/
!.config/wpaperd/config.toml

# Machine-dependent files below this line
